body{
    display: flex;
    font-family: 'Arial', sans-serif;
    justify-content: center;
    background-color: rgb(255, 241, 224);
}

h1{
    font-size: 80px;
    line-height: 0.5;
    color: #ef9030;
    text-align: center;
    margin: 0;
}

.score-container{
    text-align: center;
}

.container{
    width: 468px;
    margin-top: 30px;
}

.grid-container{
    width: 456px;
    height: 456px;
    background-color: #f3d2b4;
    border: 7px solid #b1a79d;
    border-radius: 6px;
    margin-top: 20px;
    display: grid;
    grid-template-columns:auto auto auto auto; /* 4 columns */
    grid-gap: 5px;
}
.grid-item{
    padding: 20px;
    height: 20px;
    width: 20px;
    text-align: center;
    border: 1px solid black;
}