.grid-container{
    display: grid;
    grid-template-columns:auto auto auto auto; /* 4 columns */
    grid-gap: 5px;
}
.grid-item{
    padding: 20px;
    height: 20px;
    text-align: center;
    border: 1px solid black;
}